<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block "title" %}{% endblock %}</title>
    <style type="text/css">
html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial, verdana, sans-serif;
}
#body {
    max-width: 40em;
    margin: auto;
}

#header {
    background: #b8be55;
    color: #eee;
    padding: 1em 0;
    
}
#header a {
    text-decoration: none;
}
h1 {
    font-size: 2em;
    max-width: 20em;
    margin: auto;
    margin-top: 0;
    color: #eee;
}
    </style>
</head>

<body>
    <div id="header">
    <h1>Błąd serwera</h1>
    </div>

    <div id="body">
        <p>Serwis jest chwilowo niedostępny.
        Proszę spróbować jeszcze raz za chwilę.
        Jeśli problem będzie się powtarzał, proszę skontaktować się
        z <a href='mailto:fundacja@nowoczesnapolska.org.pl'>administratorami</a>.</p>
    </div>
</body>

</html>
