<!DOCTYPE HTML>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{% block "title" %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
</head>

<body>
    <div id="header">
    <a href='/'><h1>{% block "header" %}{% endblock %}</h1></a>
    </div>

    <div id="body">
        {% block "body" %}{% endblock %}
    </div>

    <footer>
        <p>
        <a href="https://github.com/fnp/koed-quiz/">Kod źródłowy</a> dostępny
        na licencji <a href="http://www.gnu.org/licenses/agpl.html">GNU AGPL</a>.
        Autor: Radosław Czajka. Copyright ©
        <a href="http://nowoczesnapolska.org.pl">Fundacja Nowoczesna Polska</a>.
        </p>
        {% block footerextra %}{% endblock %}
    </footer>

</body>

</html>
