{% extends "quiz/base.html" %}
{% load i18n %}
{% load url from future %}


{% block "title" %}{{ question.quiz.name }}{% endblock %}
{% block "header" %}{{ question.quiz.name }}{% endblock %}


{% block "body" %}


<h2>{{ question.title }}</h2>
{% if question.text %}
    <div>
    {{ question.text|safe }}
    </div>
{% endif %}

<div>



<form class='question' method='post'>
{% csrf_token %}
{{ form.answer.errors }}
{{ form.answer }}

{% if valid %}
    <button>{% trans "Send answer" %}</button>

    {% if previous_url %}
        <a class='button' href='{{ previous_url }}'>{% trans "Back to last question" %}</a>
    {% endif %}

{% else %}
    {% if valid_url %}
        <a class='button' href='{{ valid_url }}'>{% trans "Back to my test" %}</a>
    {% else %}
        <a class='button' href='{% url "quiz" %}'>{% trans "Start from the beginning" %}</a>
    {% endif %}
{% endif %}

</form>
</div>


{% if question.description %}
    <div id='description'>
    {{ question.description|safe }}
    </div>
{% endif %}


{% endblock %}
