html, body {
    margin: 0;
    padding: 0;
}
body {
    font-family: arial, verdana, sans-serif;
}
#body {
    max-width: 40em;
    margin: auto;
}

#header {
    background: #b8be55;
    color: #eee;
    padding: 1em 0;
    
}
#header a {
    text-decoration: none;
}
h1 {
    font-size: 2em;
    max-width: 20em;
    margin: auto;
    margin-top: 0;
    color: #eee;
}

button {
    background: #999;
    color: white;
    font-size: 1em;
    padding: 1em;
    text-decoration:none;
    border: 1px solid #ddd;
    border-radius: 1em;
    width: 100%;
}
button:hover {
    background: #aaa;
}

a.big-button, a.button {
    background: #999;
    color: white;
    text-decoration:none;
    border: 1px solid #ddd;
    border-radius: 1em;
    display: block;
    text-align: center;
    margin-top: 1em;
}

a.button {
    padding: .3em;
}

a.big-button {
    padding: 1em;
}

a.big-button:hover, a.button:hover {
    background: #aaa;
}

.question li {
    list-style: none;
    margin-bottom: 1em;
}

.errorlist {
    font-weight: bold;
    color: red;
}

#description {
    margin-top: 1em;
    font-size: .9em;
    color: #444;
    padding: 0 1em;
    border: 1px solid #ddd;
    border-radius: 1em;
}
footer {
    font-size: .67em;
    color: #aaa;
    padding: .5em;
    margin-top: 3em;
    border-top: 1px solid #eee;
}
footer a {
    color: #777;
    text-decoration: none;
}
footer p {
    margin-top: 0;
}